.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page {
  flex-grow: 1;
  background-color: #eee;
  padding: 64px 16px;
}

a:link,
a:hover,
a:active,
a:visited {
  color: #009;
}

a:link,
a:active,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* MATERIAL DESIGN */

.mdcFab {
  position: fixed;
  right: 16px;
  bottom: 16px;
}

.mdcList {
}

.mdcList a:link,
.mdcList a:hover,
.mdcList a:active,
.mdcList a:visited {
  text-decoration: none;
  color: #666;
}

.mdcListItem {
  display: flex;
  justify-content: space-between ;
}

.mdcListItemText~.mdcListItemGraphic {
  margin-right: 0px;
  margin-left: 32px;
}